
# Ignore specific files
frontend/src/App.css
frontend/src/assets/react.svg
frontend/.gitignore
backend/.gitignore

# Node modules (this applies to both backend and frontend)
node_modules/

# Environment files (this applies globally)
.env
